[class*="col-"]
	grid-column span $columns

/*=====================================
Create columns
=====================================*/

// Make numbers in column`s classes and their width
make-column-num($columns)
	for $num in 1..$columns
		&{'-'}{$num}
			grid-column span $num

// Mixin to make all columns
make-column($breakpoint-name, $columns)
	.col
	.col-{$breakpoint-name}
		make-column-num($columns)

// Here we make call all mixins and make all columns
for $key, $val in $breakpoints-and-widths
	$breakpoint-name = unquote($key)
	if $val["breakpoint"] == 0
		make-column($key, $columns)
	else
		@media (min-width: unquote($val["breakpoint"]))
			make-column($key, $columns)