$columns = 12 // Number of columns
$grid-gap = 30px

// Array of breakpoints and width
$breakpoints-and-widths = {
	// Extra small screen (phone)
	'xs': {
		"breakpoint": "0",
		"container-width": "0"
	},
	// Small screen (phone)
	'sm': {
		"breakpoint": "576px",
		"container-width": "540px"
	},
	// Medium screen (tablet)
	'md': {
		"breakpoint": "768px",
		"container-width": "720px"
	},
	// Large screen (desktop)
	'lg': {
		"breakpoint": "992px",
		"container-width": "960px"
	},
	// Extra large screen (wide desktop)
	'xl': {
		"breakpoint": "1200px",
		"container-width": "1140px"
	}
}