@import '_variables.styl'

/*===================================
Basic
===================================*/
html
	font-size 16px
body
	margin 0
	font-family 'Roboto', sans-serif
	font-size 1rem

*, :after, :before
	box-sizing border-box




/*===================================
Type
===================================*/
p
	margin-top 0
	margin-bottom 1rem

h1, h2, h3, h4, h5, h6
	margin-top 2rem
	margin-bottom 0.8rem
	font-weight 400
	line-height 1
h1
	margin-top 0
	font-size 2.35rem
h2
	font-size 1.76rem
	margin-top 3rem
	padding-bottom 5px
	font-weight bold
	border-bottom 3px solid
h3
	font-size 1.35rem
h4
	margin-top 1.5rem
	margin-bottom 0.5rem
	font-size 1.2rem
h5
	font-size 0.9rem
	font-weight bold
	margin 0
h6
	font-size 0.8rem
	font-weight bold
	margin 0

a
	color #7fbfff
	text-decoration none
	&:hover
		text-decoration underline




/*===================================
Grid
===================================*/
.row
	grid-row-gap 20px
	&--row-gap-2
		grid-row-gap 10px

// Columns
$color = 0deg
for $breakpoint-name in $breakpoints-and-widths
	for $num in 1..$columns
		$color = $color + 50
		{".col-" + $num},
		{".col-" + $breakpoint-name + '-' + $num}
			padding 10px
			background spin(#f0a8c1, $color)

media($breakpoint-name)
	$val = $breakpoints-and-widths[$breakpoint-name]
	if $val["breakpoint"] != 0
		@media (min-width: unquote($val["breakpoint"]))
			{block}




/*===================================
Layout
===================================*/
.col
	&-nav
	&-content
		background transparent
	&-nav
		margin-top 10px
		+media(md)
			margin-top 15px

.nav
	list-style none
	padding 0
	margin 0
	line-height 1.7
	+media(md)
		position fixed
	&-second-lvl
		padding-left 34px




/*===================================
Examples
===================================*/
pre
	margin 10px 0 25px 0 !important

.display-utilities__example
	margin-top 15px
	&--1
	&--2
		padding 10px
	&--1
		background #B3E5FC
	&--2
		background #DCEDC8